*.user

Builds
JuceLibraryCode

build
cmake-build-debug
cmake-build-release
.idea

IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.xcscheme
.vscode
*.xcworkspace
*.DS_Store
*.entitlements

workspace.xml
xcuserdata
